html, body {
  	background: #000;
	font-size: 96%;
  	font-family: Verdana, Helvetica, sans-serif;
  	line-height: 1.4em;
  	color: #fff;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden; /*  Disable scrolls */
	display: block;  /* No floating content */
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}
